{%extends "bootstrap/base.html" %}



{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{%block body %}

{%block navbar%}
<nav class="navbar1 navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      
      <ul class="nav navbar-nav navbar-right">
        <li><img src="/static/logo.png" style="width:30px; height: 30px;"></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



{%endblock %}  

{%block content%}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 col-lg-1">
      <nav class="navbar2 navbar-default navbar-fixed-side">
        <!-- normal collapsible navbar markup -->
      </br>
    </br>
         <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
        </br>
      </br>
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </br>
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </br></br>
        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
        </br></br>
        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </br></br>
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        </br></br>
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        </br></br>
        <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
        </br></br>
        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
      </br>

      </nav>




    </div>
    <div class="col-sm-11 col-lg-11">
      <!-- your page content -->
      <h1> Dashboard </h1>

</div>

<div class="container">

  <div class="panel-table-container col-lg-3 col-md-3 col-sm-3">
  <table class="table1 panel-table">
    <tbody><tr><th><div> 
      Systems Online </br>
      avg    
     <span class="gpanel glyphicon glyphicon-refresh" aria-hidden="true"></span> </th></tr></div>
  </tbody></table>
  </div>
  
  <div class="panel-table-container col-lg-3 col-md-3 col-sm-3">
  <table class="table2 panel-table">
    <tbody><tr><th><div> 
     Access Points in last 60 min </br>
     avg    
     <span class="gpanel glyphicon glyphicon-refresh" aria-hidden="true"></span> </th></tr></div>
  </tbody></table>
  </div>
  
  <div class="panel-table-container col-lg-3 col-md-3 col-sm-3">
  <table class="table3 panel-table">
    <tbody><tr><th><div> 
    Clients in last 60 min </br>
    avg    
     <span class="gpanel glyphicon glyphicon-refresh" aria-hidden="true"></span> </th></tr></div>
  </tbody></table>
  </div>
  
  <div class="panel-table-container col-lg-3 col-md-3 col-sm-3">
  <table class="table4 panel-table">
    <tbody><tr><th> <div> <script> document.write(new Date().toLocaleDateString()); </script> <span class="gpanel glyphicon glyphicon-refresh" aria-hidden="true"></span></div> </th></tr>      
     
  </tbody></table>
  </div>
  
  <div class="panel-table-container col-lg-4 col-md-4 col-sm-4">
  <table class="panel-tablerow2">
    <tbody><tr><th> <div class="t5head"> Clients <span class="gpanel glyphicon glyphicon-refresh" aria-hidden="true"></span><span class="gpanelrem glyphicon glyphicon-remove" aria-hidden="true"></span><span class="gpaneldown glyphicon glyphicon-chevron-down" aria-hidden="true"></span></div> </th></tr>      
    <tr class="panelbody"><td> <div></div></td></tr>          
  </tbody></table>
  </div>
  
  <div class="panel-table-container col-lg-4 col-md-4 col-sm-4">
  <table class="panel-tablerow2">
    <tbody><tr><th><div class="t6head"> Access Points <span class="gpanel glyphicon glyphicon-refresh" aria-hidden="true"></span><span class="gpanelrem glyphicon glyphicon-remove" aria-hidden="true"></span><span class="gpaneldown glyphicon glyphicon-chevron-down" aria-hidden="true"></span></div></th></tr>     
    <tr class="panelbody"><td>  </td></tr>     
      
  </tbody></table>
  </div>
  
  <div class="panel-table-container col-lg-4 col-md-4 col-sm-4">
  <table class="panel-tablerow2">
    <tbody><tr><th> <div class="t7head"> Event Severities<span class="gpanel glyphicon glyphicon-refresh" aria-hidden="true"></span><span class="gpanelrem glyphicon glyphicon-remove" aria-hidden="true"></span><span class="gpaneldown glyphicon glyphicon-chevron-down" aria-hidden="true"></span></div> </div> </th></tr>      
    <tr class="panelbody"><td> <div>  </div></td></tr>      
        
  </tbody></table>
  </div>
  
    <div class="panel-table-container col-lg-12 col-md-12 col-sm-12">
  <table class="panel-table">
    <tbody><tr><th> <div class="t8head"> Access Points </div> </th></tr>      
    <tr class="panelbody"><td> <div></div></td></tr>     
         
  </tbody></table>
  </div>
  
</div>

</div>
{%endblock %}

{%endblock %}



  
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
   
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
 
          
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
          
         
      
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
          
         
      
         
          
         
          
         
          











